{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"pluginSearchDirs": ["."],
	"singleAttributePerLine": true,
	"svelteAllowShorthand": true,
	"svelteBracketNewLine": true,
	"svelteIndentScriptAndStyle": false,
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
